.sobre {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sobre img {
  width: 180px;
  height: 220px;
  padding: 20px 0px 0px 20px;
  animation: fadeInLeft;
  animation-duration: 3s;
}
.conteudo {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.conteudo p {
  width: 90vw;
  text-align: justify;
  font-size: 15px;
  margin: 5px;
  text-indent: 20px;
  animation: fadeInRight;
  animation-duration: 3s;
}
.title {
  display: flex;
  padding-top: 15px;
}
.title strong {
  color: #00a8f3;
  font-size: 20px;
  padding-right: 10px;
  animation: lightSpeedInLeft;
  animation-duration: 3s;
}
.title h2 {
  font-size: 20px;
  margin-bottom: 10px;
  animation: lightSpeedInRight;
  animation-duration: 3s;
}
@media (min-width: 480px) {
  .sobre {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sobre img {
    width: 180px;
    height: 220px;
    margin-top: 100px;
    padding: 20px 0px 0px 20px;
    animation: fadeInLeft;
    animation-duration: 3s;
  }
  .conteudo {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .conteudo p {
    width: 90vw;
    text-align: justify;
    font-size: 15px;
    margin: 5px;
    text-indent: 20px;
    animation: fadeInRight;
    animation-duration: 3s;
  }
  .title {
    display: flex;
    padding-top: 15px;
  }
  .title strong {
    color: rgb(110, 58, 145);
    font-size: 20px;
    padding-right: 10px;
    animation: lightSpeedInLeft;
    animation-duration: 3s;
  }
  .title h2 {
    font-size: 20px;
    margin-bottom: 10px;
    animation: lightSpeedInRight;
    animation-duration: 3s;
  }
}
@media (min-width: 700px) {
  .sobre {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .sobre img {
    width: 250px;
    height: 350px;
    padding: 60px 20px 0px 20px;
  }
  .conteudo p {
    width: 60vw;
    text-align: justify;
    font-size: 17px;
    margin: 3px;
    text-indent: 40px;
    padding: 5px;
  }
  .title strong {
    font-size: 30px;
    padding-right: 10px;
  }
  .title h2 {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
