.footer {
  position: relative;
  bottom: 0em;
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: rgb(126, 67, 165);
}
.footer footer {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: bold;
  color: rgb(230, 221, 221);
  height: 35px;
}
@media (min-width: 480px) {
  .footer {
    position: relative;
    bottom: 0em;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgb(126, 67, 165);
  }
  .footer footer {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    height: 35px;
  }
}
@media (min-width: 700px) {
  .footer {
    position: relative;
    margin-top: 1rem;
  }
  .footer footer {
    font-size: 15px;
    height: 40px;
  }
}
